---
import IndexLayout from '../../layout/IndexLayout.astro'
---

<IndexLayout>
    <section>
        <div class="container">
            <a href="/neals2023#portfolio" class="bg-myColor">INDEX</a>
            <h1>ENGIE</h1>
        </div>
    </section>
</IndexLayout>