<section>
    <div class="container">
        <h2 class="text-myColor">CLIENTS</h2>
        <div class="gridClients">
            <img src="./clients/avaya.svg">
            <img src="./clients/becoming.svg">
            <img src="./clients/century.svg">
            <img src="./clients/coca.svg">
            <img src="./clients/danone.svg">
            <img src="./clients/elysee.svg">
            <img src="./clients/emc2.svg">
            <img src="./clients/engie.svg">
            <img src="./clients/family.svg">
            <img src="./clients/fouquets.svg">
            <img src="./clients/francetelevisions.svg">
            <img src="./clients/francetv.svg">
            <img src="./clients/haribo.svg">
            <img src="./clients/havas.svg">
            <img src="./clients/hitachi.svg">
            <img src="./clients/hp.svg">
            <img src="./clients/iss.svg">
            <img src="./clients/krmedia.svg">
            <img src="./clients/lavazza.svg">
            <img src="./clients/lemonde.svg">
            <img src="./clients/mag.svg">
            <img src="./clients/metro.svg">
            <img src="./clients/mondadori.svg">
            <img src="./clients/nestle.svg">
            <img src="./clients/nrj.svg">
            <img src="./clients/orange.svg">
            <img src="./clients/poleemploi.svg">
            <img src="./clients/president.svg">
            <img src="./clients/publicis.svg">
            <img src="./clients/renault.svg">
            <img src="./clients/republique.svg">
            <img src="./clients/sephora.svg">
            <img src="./clients/suez.svg">
            <img src="./clients/wmh.png">
        </div>
    </div>
</section>