<section>
    <div class="container">
        <h2>CLIENTS</h2>
        <div class="gridClients">
            <img src="/neals2023/clients/avaya.svg">
            <img src="/neals2023/clients/becoming.svg">
            <img src="/neals2023/clients/century.svg">
            <img src="/neals2023/clients/coca.svg">
            <img src="/neals2023/clients/danone.svg">
            <img src="/neals2023/clients/elysee.svg">
            <img src="/neals2023/clients/emc2.svg">
            <img src="/neals2023/clients/engie.svg">
            <img src="/neals2023/clients/family.svg">
            <img src="/neals2023/clients/fouquets.svg">
            <img src="/neals2023/clients/francetelevisions.svg">
            <img src="/neals2023/clients/francetv.svg">
            <img src="/neals2023/clients/haribo.svg">
            <img src="/neals2023/clients/havas.svg">
            <img src="/neals2023/clients/hitachi.svg">
            <img src="/neals2023/clients/hp.svg">
            <img src="/neals2023/clients/iss.svg">
            <img src="/neals2023/clients/krmedia.svg">
            <img src="/neals2023/clients/lavazza.svg">
            <img src="/neals2023/clients/lemonde.svg">
            <img src="/neals2023/clients/mag.svg">
            <img src="/neals2023/clients/metro.svg">
            <img src="/neals2023/clients/mondadori.svg">
            <img src="/neals2023/clients/nestle.svg">
            <img src="/neals2023/clients/nrj.svg">
            <img src="/neals2023/clients/orange.svg">
            <img src="/neals2023/clients/poleemploi.svg">
            <img src="/neals2023/clients/president.svg">
            <img src="/neals2023/clients/publicis.svg">
            <img src="/neals2023/clients/renault.svg">
            <img src="/neals2023/clients/republique.svg">
            <img src="/neals2023/clients/sephora.svg">
            <img src="/neals2023/clients/suez.svg">
            <img src="/neals2023/clients/wmh.png">
        </div>
    </div>
</section>