<section class="h-screen bg-myColor">
    <div class="container">
         <img src="./neals2023/images/me.jpg" class="rounded-full w-16" alt="">
        <h4 class="p-2 bg-slate-900 w-fit">Neals</h4>
        <h4 class="p-2 bg-slate-900 w-fit"> ~ Julien EICHLER</h4><br>
            hello@neals.fr<br>
            06 66 55 66 26

    </div>
</section>