---
import Wings from "./Wings.astro";

---

<header>
    <div class="w-32 mb-4 md:w-72"><Wings /></div>
    <h1 class="text-center">
        Neals<br>
        <span>studio de création graphique et développement web</span><br>
        print / web
    </h1>
</header>