<nav>
    <ul>
        <li>PREZ</li>
        <li>CLIENTS</li>
        <li>PORTFOLIO</li>
        <li>CONTACT</li>
    </ul>
</nav>

<style>
nav {
    @apply
    w-full
    md:col-span-2
}

ul {
    @apply
    w-full
    h-full
    grid
    grid-cols-2
    grid-rows-2
}
li {
    @apply
    border
    border-slate-600

    flex
    justify-center
    items-center
}
</style>