---
import SlideShow from './SlideShow.astro'
---

<section>
    <div class="container">
        <h2>Portfolio</h2>
        
        <ul class="gridPorfolio">
            <li><SlideShow title="ENGIE Solutions" /></li>
            <li><SlideShow title="SUEZ" /></li>
            <li><SlideShow title="Divers" /></li>
        </ul>

    </div>
</section>

<style>
.gridPorfolio {
    @apply
    flex
    flex-col
    w-full
}
.aPortfolio {
    @apply
    border-t
    border-slate-700
    py-4

    text-sm
    font-Raleway
    font-bold

    leading-5

    md:text-base

    hover:bg-primary
    hover:text-slate-900
    hover:px-2

    transition-all
    duration-200
}
</style>