<section>
    <div class="container">
        <p>
            Je suis Directeur Artistique et Développeur FullStack freelance passionné et expérimenté.
            Je propose des designs uniques et adaptés pour des projets web et print, ainsi que des développements performants et élégants.
            Je travaille en étroite collaboration avec mes clients pour répondre à leurs besoins et respecter les délais impartis.
        </p>
        <a href="mailto:hello@neals.fr" class="text-myColor">
            N'hésitez pas à me contacter pour discuter de votre projet.
        </a>
    </div>
</section>