---
const { title } = Astro.props;
---

<div>
        <input id={title} type="checkbox" class="hidden peer" >
        <label for={title} class="peer-checked:px-2 peer-checked:bg-primary">{title}</label>
        <div class="boxInfos peer-checked:flex">
            <p class="txtInfos">+ de 700 projets</p>
            <div class="containerSlider">
                <img src="/neals2023/refs/engie/01.jpg" alt="" class="thumbnail">
                <img src="/neals2023/refs/engie/02.jpg" alt="" class="thumbnail">
                <img src="/neals2023/refs/engie/03.jpg" alt="" class="thumbnail">
                <img src="/neals2023/refs/engie/04.jpg" alt="" class="thumbnail">
                <img src="/neals2023/refs/engie/05.jpg" alt="" class="thumbnail">
                
            </div>
        </div>
</div>

<style>
label {
    @apply
    block
    w-full
    h-full
    border-b
    border-slate-700
    py-3

    font-Raleway
    font-bold

    hover:bg-primary
    hover:px-2

    transition-all
    duration-200

    cursor-pointer
}
.boxInfos {
    @apply
    hidden
    /* bg-slate-800 */

    flex-col
    
    px-2
    mb-4
    pb-2

    border-b
    border-primary

    font-Raleway
}
.txtInfos {
    @apply
    font-Raleway
    text-sm
}
.containerSlider {
    @apply
    flex
    gap-4

    overflow-scroll
}
.thumbnail {
    @apply
    max-h-72
    object-cover
}
</style>