@font-face {
    font-family: 'Crimson';
    src: url('/fonts/CrimsonPro-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 1 1000;
    font-style: normal italic;
    font-stretch: 100% 200%;
}
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 1 1000;
    font-style: normal italic;
    font-stretch: 100% 200%;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @apply
    leading-none
}

body {
    @apply
    w-screen
    h-screen
    font-Crimson
    bg-primary
    text-slate-100
    p-2

    md:p-6
}

main {
    @apply
    w-full
    h-full
    bg-slate-900
    overflow-scroll
}

section {
    @apply
    w-full

    p-10

    flex
    flex-col

    md:items-center
    md:justify-center
}

.wings {
    @apply
    fill-primary
}

h1 {
    @apply
    text-lg
    uppercase
    font-extrabold
    leading-6

    md:text-xl
    md:leading-7
}
h2 {
    @apply
    font-Raleway
    text-sm
    uppercase
    pb-8
    text-primary

    md:text-sm
}
h6 {
    @apply
    font-Raleway
    text-xs
    text-primary

    md:text-base
}

p {
    @apply
    font-Raleway
    text-sm
    my-4
    leading-6

    md:text-2xl
    md:leading-[2.5rem]
}

.aPrimary {
    @apply
    font-Raleway
    text-xs
    font-bold

    px-3
    py-1
    text-primary
    bg-slate-900
    border
    border-primary

    md:text-base

    hover:text-slate-900
    hover:bg-primary

    transition-colors
    duration-200
    
}

/* GRID CLIENTS */
.gridClients {
    @apply
    flex
    flex-wrap
    justify-start
    
    w-full
    gap-5

    sm:gap-10
}
.gridClients > img {
    @apply
    w-10
    h-10

    sm:w-16
    sm:h-16

}

/* PHOTO DE ME */
.me {
    background-image: url('neals2023/images/me-BlackWhite.jpg');
    @apply
    bg-cover
    rounded-full
    w-32
    h-32
    mb-4

    md:w-56
    md:h-56
}

/* MY VIDEO BACKGOUNRD */
/* video {
    @apply
    absolute
    top-0
    left-0

    object-cover
    w-screen
    h-screen

    mix-blend-multiply
    -z-50
} */
