---
import '../main2.css'
import Header from '../components/Header.astro'
import Nav from '../components/Nav.astro';
import Marquee from '../components/Marquee.astro';
import MarqueeInverse from '../components/MarqueeInverse.astro';
---
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neals</title>
	</head>
	<body id="body">
		
		<main>
			<Marquee />
			<MarqueeInverse />
			<Header />
			<Nav />
		</main>

	</body>
</html>