---
// import '../main.css'
---
<script>
	import { myColor } from '../utils/colors.ts';

	document.body.style.backgroundColor = myColor;

	// Récupére toutes les class text-myColor pour attiruber myColor sur les textes
	const txt = document.getElementsByClassName('text-myColor') as HTMLCollectionOf<HTMLElement>;
	Array.from(txt).forEach(element => {
		element.style.color = myColor;
	});

	// Récupére toutes les class bg-myColor pour attiruber myColor sur les background
	const bg = document.getElementsByClassName('bg-myColor') as HTMLCollectionOf<HTMLElement>;
	Array.from(bg).forEach(element => {
		element.style.backgroundColor = myColor;
	});
</script>

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neals</title>
	</head>
	<body id="body">
		<main>
			<slot myColor={myColor} />
		</main>
	</body>
</html>

<style is:global>
@font-face {
    font-family: 'Crimson';
    src: url('/fonts/CrimsonPro-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 1 1000;
    font-style: normal italic;
    font-stretch: 100% 200%;
}
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 1 1000;
    font-style: normal italic;
    font-stretch: 100% 200%;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @apply
    leading-none
}

body {
    @apply
    w-screen
    h-screen
    font-Crimson
    /* bg-sky-400 */
    text-slate-100
    p-5

    md:p-10
}

main {
    @apply
    w-full
    h-full
    bg-slate-900
    overflow-scroll
}

section {
    @apply
    w-full
    h-screen

    p-10

    flex
    flex-col

    md:items-center
    md:justify-center
}

h1 {
    @apply
    text-2xl
    uppercase
    font-bold
    leading-7

    md:text-3xl
}
h2 {
    @apply
    text-2xl
    uppercase
    font-bold

    md:text-3xl
}

p {
    @apply
    font-Raleway
    text-base
    my-4
    

    md:text-xl
    md:leading-10
}

a {
    @apply
    font-Raleway
    text-xs

    md:text-base
}
</style>