---
import { ViewTransitions } from 'astro:transitions'
import '../main.css'
---


<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/neals2023/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neals</title>
		<ViewTransitions />
	</head>
	<body id="body" >
		<main>
			<slot />
			<div class="fakeDiv"></div>
		</main>
	</body>
</html>